.contenedor{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0 20px;
    background-image: url(/src/img/imgindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-titulo{
background: rgba(0, 0, 0, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);

}

.contenedor h1{
    font-size: 5.5vw;
}

.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;    

}

.wrapper-info{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    justify-items: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height: auto;
}
.info img{
    width: 40px;
    height: 40px;
    margin: 6px;
}
.info p{
    padding: 0;
    margin: 0;
}

.wrapper-card{
    width: 95%;
    height: auto;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: stretch;
    justify-items: center;
    position:unset;
}
/*
.card{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.33);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(9.8px);-webkit-backdrop-filter: blur(9.8px);position: -webkit-sticky; position: sticky;top: 0;
}
*/
.card-texto{
    margin: 0 12px 0 12px;
}
.checked {
    color: orange;
  }

@media (max-width: 720px){
    .wrapper-info{
        grid-template-columns: repeat(2,1fr);
    }
}



.full-container{
    display: flex;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.full-container h2{
    display: flex;
    justify-content: center;
}

.container-cards{
    width: 100%;
    gap: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 400px;
    background-color: rgb(44, 43, 43);
    border-radius: 12px;

    margin-bottom: 20px;
}
.card:hover{
    transition: 0.4s;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(100,0,115,1);
    -moz-box-shadow: 0px 2px 11px 0px rgba(100,0,115,1);
    box-shadow: 0px 2px 11px 0px rgba(100,0,115,1);
}

.card-top{
    height: 60%;
}
.card-top img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-bottom{
    height: 40%;
    color: white;
    padding: 8px;
}
.card-bottom p{
    margin: 0;
}