.contenedor{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0 20px;
    background-image: url(/src/img/imgindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-titulo{
background: rgba(0, 0, 0, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);

}

.contenedor h1{
    font-size: 5.5vw;
}

.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;    
    margin-top: 10px;
}

.wrapper-info{
    width: 95%;
    height: auto;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    justify-items: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
}
.info img{
    width: 40px;
    height: 40px;
    margin: 6px;
}
.info p{
    padding: 0;
    margin: 0;
}

.wrapper-card{
    width: 95%;
    height: auto;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: stretch;
    justify-items: center;
    position:unset;
}
.card{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.33);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(9.8px);-webkit-backdrop-filter: blur(9.8px);position: -webkit-sticky; /* Safari */position: sticky;top: 0;
}
.card-texto{
    margin: 0 12px 0 12px;
}
.checked {
    color: orange;
  }


@media (max-width: 1300px){
    .wrapper-card{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 960px){
    .wrapper-card{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 640px){
    .wrapper-card{
        grid-template-columns: repeat(1,1fr);
    }
}