body{
    background-color: #1a1a1a;
    color: white;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0 20px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-imagen img{
    border-radius: 16px;
    height: 25rem;
    width: 80%;
}
.imagen{
    width: 350px !important;
    height: 80px;
}